PORT=5001
GANACHE_URL=http://127.0.0.1:8545
CONTRACT_ADDRESS=0xYourDeployedContractAddress

JWT_SECRET=change-me
# Comma-separated emails that are allowed to sign up / log in as registrars
REGISTRAR_EMAILS=aditya@example.com,ishan@example.com

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
